@use "sass:map";
$color: #ebe7ef, #a18aba;
$font-family: "Quicksand", "Roboto Condensed", sans-serif;
$background: (
  "dark-violet": #140524,
  "gradient": radial-gradient(#280a48, #20043d),
);
// nth($background-color, 1)
@import "https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap";
* {
  box-sizing: border-box;
}
html {
  font-family: nth($font-family, 1), nth($font-family, 3);
  line-height: 1.5;
  color: nth($color, 1);
  background: map.get($background, "gradient");
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}
main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
  h2 {
    text-align: center;
    font-family: nth($font-family, 2);
    margin: 0 0 1.5rem 0;
    color: nth($color, 2);
  }
}
#core-concepts {
  padding: 2rem;
  border-radius: 6px;
  background-color: map.get($background, "dark-violet");
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
